body
{
    background-image: url("../img/bg3.png") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.main
{
    border-radius: 3px;
    margin: 50px 100px 0px 100px;
    background-color: rgba(255,255,255,0.85);
}


.btn-publish
{
    float: right;
    margin-bottom: 15px;

}

.media-object
{
    width: 38px;
    height: 38px;
}

.reply_input_name
{
    padding: 10px 5px;
}

.reply_body
{
    margin-top: 10px;
    padding: 0px;
}

.text-desc
{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.glyphicon
{
    top: 3px;
}

.profile .section
{
    margin-top: 15px;
}

.community-menu
{
    color: #999;
    font-size: 13px;
}

.jumbotron
{
    color: white;
    background-color: rgba(255,255,255,0);
    margin-left: 80px;
    margin-top: 50px;
}

.jumbotron .btn-lg
{
    background-image: none;
    background-color: yellowgreen;
    border-color: yellowgreen;
}

.comment
{
    margin: 5px 0px 20px 0px;
}

.comment-btn
{
    float: right;
    margin-bottom: 10px;
}

.decription
{
    min-height: 100px;
}

.originator
{
    padding: 10px;
}

.originator_name
{
    padding: 10px 0px;
}

.act_info
{
    color: #999;
    margin-top: 7px;
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 20px;
}

.act_info .icon
{
    cursor: pointer;
    width: 45px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 2px;
    margin-right: 5px;
}

.act_info .icon:hover
{
    color: white;
    background-color: #b9def0;
    border-color: #b9def0;
}

.comment_list
{
    border-bottom: 1px solid #ccc;
}

.comment_remind
{
    margin-top: 40px;
}

