body
{
    background-image: url("../img/bg3.png") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.main
{
    border-radius: 3px;
    margin: 50px 100px 30px 100px;
    background-color: rgba(255,255,255,0.85);
}


.btn-publish
{
    float: right;
    margin-bottom: 15px;

}

.media-object
{
    width: 38px;
    height: 38px;
}

.reply-input-name
{
    padding: 10px 5px;
}

.reply-body
{
    margin-top: 10px;
    padding: 0px;
}

.text-desc
{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.glyphicon
{
    top: 3px;
}

.profile .section
{
    margin-top: 15px;
}

.community-menu
{
    color: #999;
    font-size: 13px;
}

.jumbotron
{
    color: white;
    background-color: rgba(255,255,255,0);
    margin-left: 80px;
    margin-top: 50px;
}

.jumbotron .btn-lg
{
    background-image: none;
    background-color: yellowgreen;
    border-color: yellowgreen;
}

.comment
{
    margin: 5px 0px 20px 0px;
}

.comment-btn
{
    float: right;
    margin-bottom: 10px;
}

.decription
{
    min-height: 100px;
}

.originator
{
    padding: 10px;
}

.originator-name
{
    padding: 10px 0px;
}

.act-info
{
    color: #999;
    margin-top: 7px;
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 20px;
}

.act-info .icon
{
    cursor: pointer;
    width: 45px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 2px;
    margin-right: 5px;
}

.act-info .icon:hover
{
    color: white;
    background-color: #499ef3;
    border-color: #499ef3;
}

.act-info .active
{
    border-color: #499ef3;
    background-color: #499ef3;
    color: white;
}

.comment-list
{
    border-bottom: 1px solid #ccc;
}

.comment-remind
{
    margin-top: 40px;
}

.sub-comment
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;

}

.sub_list
{
    min-height: 70px;
    padding: 5px;
}

.sub-comment-input
{
    margin-top: 13px;
    min-height: 80px;
}

.sub-comment-button
{
    margin: 8px 0px;
}

.related-ul
{
    padding-left: 5px;
}

.related-li
{
    list-style: none;
    font-size: 15px;
    line-height: 25px;
}

.originator_message
{
    margin: 30px 0px 0px 0px;
}

.originator_bottom
{
    margin-top: 35px;
}

.tag-tabs
{
    line-height: 35px;
    display: none;
    margin-top: 20px;
}

.tab-content
{
    min-height: 85px;
    font-size: 120%;
}

.tags-modify
{
    min-height: 60px;
    padding: 5px;
}

.notification-read
{
    color:#aab1bf;
}

.notification-read:hover
{
    text-decoration: none;
}

.notification-unread
{
    color: mediumblue;
}

.notification-unread:hover
{
    text-decoration: none;
}




